*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.boxoggetti{
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
}

#oggettouno, #oggettodue,#oggettotre,#oggettoquattro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}